// Layout
body {
    text-align: center;
    background: #48cfad;
    color: #fff;
}
a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dotted #fff;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    text-decoration: none;
}
.block {
    width: 31.33%;
    margin: 1%;
    float: left;
}
a:hover {
    border-bottom: 1px solid;
}
h3 {
    margin-top: 850px;
}
.marged {
    margin-top: 100px;
}

// Reveal on scroll
   .revealOnScroll {
       opacity: 0;
   }

.image {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
    background-color: #48cfad;
    opacity: 0.8;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    background-image: url('http://lorempixel.com/400/200/');
    -webkit-background-size: cover;
    background-size: cover;
}

// Others
   *, *:before, *:after {
       -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
   }