/* This CSS is only activated when either the window or the device minimum width is 601px
It changes how the first page and the fourth section of the website looks.
This CSS will never be displayed on a mobile device and is designed to make the website look
better when it is being used in full screen on a Mac for example.
*/
@media only screen and (min-width: 601px) {
    .content {
        padding-top: 15%;
        color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .bg3 {
        /* The image used */
        background-image: url("../Images/tester.jpg");

        /* Full height */
        height: 60%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding-top: 25%;
        color: white;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-height: 100%;
    }

    .bg3 {
        /* The image used */
        background-image: url("../Images/tester.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 910px) {
    .bg2 {
        /* The image used */
        background-image: url("../Images/coffe.jpg");

        /* Full height */
        height: 40%;
        min-height: 820px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .bg4 {
        /* The image used */
        background-image: url("../Images/city-1209105_1920.jpg");

        /* Full height */
        height: 40%;
        min-height: 820px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

@media only screen and(min-device-width: 400px){
    .bg2 {
        /* The image used */
        background-image: url("../Images/coffe.jpg");

        /* Full height */
        height: 40%;
        min-height: 820px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .bg2 p{
        font-size: 25px;
    }
}

@media only screen and (min-width: 911px) {
    .bg2 {
        /* The image used */
        background-image: url("../Images/coffe.jpg");

        /* Full height */
        height: 40%;
        min-height: 380px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .bg4 {
        /* The image used */
        background-image: url("../Images/city-1209105_1920.jpg");

        /* Full height */
        height: 30%;
        min-height: 250px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

img, embed, object, video {
    max-width: 100%;
}

body, html {
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.bg {
    /* The image used */
    background-image: url("../Images/desktop.jpg");

    /* Full height */
    height: 100%;
    min-height: 500px;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    overflow: hidden;
}

@media only screen and (min-height: 351px) {
    .content img {
        width: 5%;
        height: 5%;
        padding-top: 15%;
        -webkit-animation-duration: 3s;
    }
}

@media only screen and (max-height: 350px) {
    .content img {
        width: 5%;
        height: 5%;
        padding-top: 0%;
        -webkit-animation-duration: 3s;
    }
}

.content h1 {
    font-size: 60px;
    font-family: "Brandon Grotesque", Arial;
}

.content p {
    font-size: 20px;
}

.topWrapper {
    text-align: center;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 10px;
}

.topWrapper3 {
    text-align: center;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 5px;
}

.left2 {
    height: 40%;
    vertical-align: top;
    width: 30%;
    display: inline-block;
    min-width: 300px;
}

.center2 {
    height: 40%;
    vertical-align: top;
    width: 30%;
    display: inline-block;
    min-width: 300px;
}

.right2 {
    height: 40%;
    vertical-align: top;
    width: 30%;
    display: inline-block;
    min-width: 300px;
}

.header1 {
    font-size: 30px;
    font-family: 'Brandon Grotesque', Arial;
    display: none;
    -webkit-animation-duration: 10s;
}

.header2 {
    font-size: 30px;
    font-family: 'Brandon Grotesque', Arial;
    display: none;
    -webkit-animation-duration: 10s;
}

.header3 {
    font-size: 30px;
    font-family: 'Brandon Grotesque', Arial;
    display: none;
    -webkit-animation-duration: 10s;
}

.paragraph1 {
    font-size: 20px;
    font-family: 'proxima-nova', Arial;
    display: none;
    -webkit-animation-duration: 10s;
}

.paragraph2 {
    font-size: 20px;
    font-family: 'proxima-nova', Arial;
    display: none;
    -webkit-animation-duration: 10s;
}

.paragraph3 {
    font-size: 20px;
    font-family: 'proxima-nova', Arial;
    display: none;
    -webkit-animation-duration: 10s;
}

.image {
    width: 150px;
    height: 150px;
    display: none;
    -webkit-animation-duration: 10s;
}

.general {
    display: none;
    -webkit-animation-duration: 5s;
}
.general h1 {
    font-size: 30px;
    font-family: 'Brandon Grotesque', Arial;
}


/*
All of the code below only affects the forth section of the website,
right for example can be called somewhere else on the website but in this case
it is only called within the forth section.
*/

.bg3 input[type=text], select, textarea, input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Brandon Grotesque", Arial;
}

textarea{
    height: 100%;
}

.right{
    height: 100%;
    margin-left: 30px;
    text-align: left;
}

.left{
    margin-left: 30px;
    text-align: left;
}

.cf {
    text-align: center;
}

textarea {
    height:126px;
}

.bg3 h1 {
    color: white;
    text-align: center;
    font-family: "Brandon Grotesque", Arial;
}

.bg3 label {
    color: white;
    text-align: left;
    font-family: "Brandon Grotesque", Arial;
}

